<h1>My Tweets</h1>

<% @tweets.each do |tweet| %>

<div><%= link_to "#{tweet.content}", tweet_path(tweet) %> <%= tweet_length(tweet) %> Posted by @<%= user_handle(tweet) %></div>
<div>This tweet was posted <%= time_ago_in_words(tweet.created_at) %> ago.</div>
<br>
<% end %>
